@mixin navAnimation($time){
    animation-name: nav_link_slide;
    animation-duration: $time;
    animation-fill-mode: forwards;
}

$maxTime: .5s;

$colorOne: #CFDBD5;
$colorTwo: #E8EDDF;
$colorThree: #F5CB5C;
$colorFour: #242423;
$colorFive: #333533;

$activedColor: rgb(255, 196, 0);
$font: 'IBM Plex Sans', sans-serif;
 
html, body{
    //overflow: hidden;
    font-family: $font;
    height: 100%; 
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    margin: 0;
    scroll-behavior: smooth;

    scrollbar-width: thin;
    scrollbar-color: white grey;

    ::-webkit-scrollbar{
        width: .5rem;
        background: grey;
    } 
    ::-webkit-scrollbar-thumb{
        background-color: white;
        border-radius: 10px;
    }
} 

.overlay{
    position: fixed;
    display:none;
    height: 100vh;
    width: 100vw;
    background-color: red;
    opacity: 0;
    z-index: 3;
}

.clicked_link{
    display: block;
    animation-name: removeOverlay;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes removeOverlay{
    0%{
        transform: translateY(0%);
    }

    100%{
        transform: translateY(1000%);
    }
}

.navbar{ 
    background-color: $colorFour;
    height: 100%;
    width: 2.5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow: visible;

    //OPEN NAV STYLING
    //styling for when cursor hovers over navbar (when navbar is extended)
    &:hover{
        animation-name: extend_nav;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        overflow: visible;
        color: white;

        
        .open_nav_list_container{
            text-align: center;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;


            .nav_name_container{
                width: 150%;
                height: 1%;
                color: $colorFour;
                font-size: larger;
                animation-name: name_bounce;
                animation-duration: $maxTime;
                z-index: 2;
                animation-fill-mode: forwards;
            }


            .profile_picture_container{

                #profile_picture{
                    max-width: 60%;
                    border-radius: 50%;
                }
                animation-name: profile_drop;
                animation-duration: .2s;
                animation-fill-mode: forwards;
            }

        }


        .nav_links_container{
            margin-top: 3rem;

            #about_link{
                @include navAnimation(.3s)
            }

            #education_link{
                @include navAnimation(.5s)
            }

            #skills_link{
                @include navAnimation(.6s)
            }

            .nav_link{  
                color:white;
                display: block;
                margin: 1rem;
                text-decoration: none;

                &:hover{
                    color: $activedColor;
                }
                transition: 0.2s;
            }
        }
        
        .nav_icons_container{
            margin-top: 12rem;
            text-align: center;

            .nav_icon{
                color: rgba(255, 255, 255, 0.452);
                &:hover{
                    color: $activedColor;
                }
                transition: 0.2s;
                margin: .3rem;
                text-decoration: none;
            }
        }

        + .resume{
            background-color: rgb(0, 0, 0);
            opacity: .1;
            z-index: 0;
            transition: background-color .41s linear;
        }

        //keeps the collapsed list hidden while navbar is extended
        .closed_nav_list_container{
            display: none;
        }
    }

    //CLOSED NAV STYLING
    .open_nav_list_container{
        display: none;
    }

    //styling for when navbar is not hovered over (when navbar is closed)
    .closed_nav_list_container{
        text-align: center;
        height: 100%;
        //overflow: auto;
        color: white;

        .nav_dot_container{
            display: inline-block;
            margin-top: 10rem;
        }
    }

}

.about_page_container{
    background-color: $colorOne;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;

    .goal_statement_container{
        width: 50%;
        margin: 0 auto;
    }

    .changing_text_container{
        width: 50%;
        margin: 0 auto;
    }

    .name_container{
        position: absolute;
        top: 0;
        left: 4%;
    }
}

.education_page_container{ 
    background-color: $colorTwo;
    height: 100%; 
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;

    .degree_info_container{
        width: 50%;
        margin: 0 auto;
    }

    .relevant_classes_container{
        display: flex;
        justify-content: center;
    }

    .relevant_classes_column{
        text-align: center;
    }

    .class_list{
        list-style: none;
    }

}

.skills_page_container{
    background-color: $colorThree;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;

    .skills_lists_container{
        display: flex;
        justify-content: center;

        .skills_column{
            .skills_list{
                list-style: none;
            }
        }

    }
}

@keyframes extend_nav{
    0%{
        width: 2.5%;
    }

    100%{
        width: 15%;
    }
}



@keyframes profile_drop{
    0%{
        transform: translateX(-9000%);
    }

    100%{
        transform: translateX(0%);
    }
}

@keyframes name_bounce{
    0%{
        transform: translateX(0);
   }

    60%{
        transform: translateX(150%);
    }

    100%{
        transform: translateX(70%); 
    }
}

@keyframes nav_link_slide{
    0%{
        transform: translateY(9999%);
    }

    100%{
        transform: translateY(0%);
    }

}