$maxTime: .35s;
$colorOne: #CFDBD5;
$colorTwo: #E8EDDF;
$colorThree: #F5CB5C;
$colorFour: #242423;
$colorFive: #333533;
$activedColor: rgb(255, 196, 0);
$font: 'IBM Plex Sans', sans-serif;
$closedNavWidth: 1.7%;
$pageWidth: 100%;
//100% - $closedNavWidth;
 
@mixin link_slide_in($time){
    animation-name: nav_link_slide_in;
    animation-duration: $time;
    animation-fill-mode: forwards;
}

@mixin link_slide_out($time){
    animation-name: nav_link_slide_out;
    animation-duration: $time;
    animation-fill-mode: forwards;
}

html, body{
    font-family: $font;
    height: 100%; 
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: white grey;
    ::-webkit-scrollbar{
        width: .5rem;
        background: grey;
    } 
    ::-webkit-scrollbar-thumb{
        background-color: white;
        border-radius: 10px;
    }
}

.resume{
    position: relative;
    z-index: 2;
    background-color: black;   
}

.dim_background{
    animation-name: dim_screen;
    animation-fill-mode: forwards;
    animation-duration: $maxTime + .3s;
}

.undim_background{
    animation-name: undim_screen;
    animation-fill-mode: forwards;
    animation-duration: $maxTime + .3s;
}

@keyframes dim_screen{
    0%{
        opacity: 1;
    }

    100%{
        opacity: .1;
    }
}

@keyframes undim_screen{
    0%{
        opacity: .1;
    }

    100%{
        opacity: 1;
    }
}

.closed_navbar{
    background-color: $colorFive;
    height: 100%;
    width: $closedNavWidth;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow: visible;
    display: flex;
    justify-content: center;
    color: white;
}

.hide_closed_nav{
    animation-name: hide_closed_nav;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
 
.reveal_closed_nav{
    animation-name: reveal_closed_nav;
    animation-duration: $maxTime;
    animation-fill-mode: forwards;
}

@keyframes hide_closed_nav{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-300px);
    }
}

@keyframes reveal_closed_nav{
    0%{
        transform: translateX(-300px);
    }

    100%{
        transform: translateX(0);
    }
}

.closed_nav_arrow_container{
    margin-top: 1.5rem;
}

.closed_nav_dot_container{
    margin-top: 9.3rem;
}

.navbar{ 
    //background-color: $colorFour;
    background-image: linear-gradient(to bottom, $colorFour , $colorFive);
    height: 100%;
    width: $closedNavWidth;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow: visible;
    color: white;
}

//styling for when the navbar is closed
.closed_nav_icon_container{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.closed_nav_arrow{
    margin-top: 1rem;
}

.rotate_arrow_out{
    animation-name:rotate_arrow_out;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.rotate_arrow_in{
    animation-name:rotate_arrow_in;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes rotate_arrow_out{
    0%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

@keyframes rotate_arrow_in{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(180deg);
        
    }
}

.nav_dot_container{
    margin-top: 13rem;
}

.closed_nav_dot{
    margin-bottom: .7rem;
}

//animation classes for closing and opening the navbar
.close_nav{
    animation-name: close_nav;
    animation-fill-mode: forwards;
    animation-duration: $maxTime
}

.extend_nav{
    animation-name: extend_nav;
    animation-fill-mode: forwards;
    animation-duration: $maxTime
}

@keyframes extend_nav{
    0%{
        width: 1.5%;
    }

    100%{
        width: 15%;
    }
}

@keyframes close_nav{
    0%{
        width: 15%;
    }

    100%{
        width: 1.5%;
    }
}

//styling for when the navbar is extended
.open_nav_list_container{
    text-align: center;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.nav_name_container{
    width: 150%;
    height: 1%;
    color: $colorFour;
    font-size: larger;
    z-index: 2;
}

//animation classes for the navbar's name placeholder
.name_bounce_in{
    animation-name: name_bounce_in;
    animation-duration: $maxTime;
    animation-fill-mode: forwards;
}

.name_bounce_out{
    animation-name: name_bounce_out;
    animation-duration: $maxTime;
    animation-fill-mode: forwards;
}

//styling for the profile picture
#profile_picture{
    max-width: 60%;
    border-radius: 50%;;
}

//animation classes for the profile picture
.reveal_picture{
    animation-name: reveal_picture; 
    animation-duration: $maxTime;
    animation-fill-mode: forwards;
}

.hide_picture{
    animation-name: hide_picture;
    animation-duration: $maxTime;
    animation-fill-mode: forwards;
}

@keyframes reveal_picture{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes hide_picture{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.nav_links_container{
    margin-top: 3rem;
}

.hide_nav_link_container{
    height: 0%;
}

.nav_link{  
    color:white;
    display: block;
    margin: 1rem;
    text-decoration: none;

    &:hover{
        color: $activedColor;
    }
    transition: 0.2s;
}

//animation for the links
.link_slide_in1{
    @include link_slide_in(.3s);
}

.link_slide_in2{
    @include link_slide_in(.4s)
}

.link_slide_in3{
    @include link_slide_in(.5s)
}

.link_slide_out1{
    @include link_slide_out(.5s)
}

.link_slide_out2{
    @include link_slide_out(.4s)
}

.link_slide_out3{
    @include link_slide_out(.3s)
}

.nav_icons_container{
    margin-top: 11rem;
    text-align: center;

    .nav_icon{
        color: rgba(255, 255, 255, 0.452);
        &:hover{
            color: $activedColor;
        }
        transition: 0.2s;
        margin: .3rem;
        text-decoration: none;
    }
}

.reveal_icons{
    animation-name: reveal_icons;
    animation-duration: $maxTime;
    animation-fill-mode: forwards;
}

.hide_icons{
    animation-name: hide_icons;
    animation-duration: $maxTime;
    animation-fill-mode: forwards;
}

@keyframes reveal_icons{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes hide_icons{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes name_bounce_in{
    0%{
        transform: translateX(0);
   }

   10%{
       opacity: 0;
   }

    60%{
        transform: translateX(150%);
    }

    100%{
        transform: translateX(70%);
        visibility: visible;
    }
}

@keyframes name_bounce_out{
    0%{
        transform: translateX(70%);
   }

    40%{
        transform: translateX(150%);
    }

    99%{
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 0;
    }
}

@keyframes nav_link_slide_in{
    0%{
        transform: translateY(9999%);
    }

    100%{
        transform: translateY(0%);
    }

} 

@keyframes nav_link_slide_out{
    0%{
        transform: translateY(0%);
    }

    100%{
        transform: translateY(9999%);
    }

}

//About me styling
.about_page_container{
    background-color: $colorFive;
    width: $pageWidth;
    text-align: center; 
    min-height: 415vh;

    background-image: url("../images/silhouette-of-grass-under-white-sky-925743.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 20% 5% 50% 5% 20%; 
    grid-template-rows: 30vh 70vh auto;
} 

.about_title_container{
    font-size: x-large;
    justify-self: end;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
} 

.goal_statement_container{
    justify-self: center;
    grid-column: 2 / 5;
    grid-row: 2/ 3;
}

.bio_container{
    font-weight: bold;
    grid-column: 2 / 5;
    grid-row: 3 / 5;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 100vh 110vh;
}

.hobbies_intro_container{
    margin-top: 3rem;
}

.hobby_container{
    display: grid; 
    grid-template-columns: 100%;
    grid-template-rows: 10vh 90vh;
    background-color: rgba(255, 255, 255, 0);

    .hobby_text_container{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: center;
        background-color: $colorThree;
        justify-self: center;
        font-size: large;
    }

    .img_container{
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: none;
        background-color: none;
    }
}

#art_image{
    background-image: url("../images/fingerman.jpg");
}

#music_image{
    background-image: url("../images/cliff.JPG");
}

#dogs_image{
    background-image: url("../images/nickswen1.jpg");
    //height: 100vh;
}

.name_container{
    position: absolute;
    top: 0;
    left: 4%;
}

#about_to_education{
    margin-top: 2rem;
    font-size: large;
}

//Education styling
.education_page_container{  
    background-color: $colorFour;
    color: white;
    min-height: 200vh;
    width: $pageWidth; 
    text-align: center;

        //background-image: url("../images/moon-above-forest-during-night-time-1685543.jpg");
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 26vh 30vh 20vh auto;
}

.education_title_container{
    font-size: 3rem;
    place-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.degree_info_container{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
}

.relevant_class_intro_container{
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    place-self: center;
}

.relevant_classes_container{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    align-self: start;
    justify-self: center;
}

.relevant_class{
    margin-top: 1.5rem;
}

//Skills styling
.skills_page_container{
    background-color: $colorThree;
    min-height: 150vh;
    width: $pageWidth;
    display: grid;
    text-align: center;

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 26vh 20vh 17vh auto; 
}

.skills_title_container{    
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    font-size: x-large;
    place-self: center;
}

.skills_intro_container{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    font-size: x-large;
    place-self: center;
}

.languages_title{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    place-self: center;
}

.languages_list{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.other_tech_title{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.other_tech_list{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.skill{
    margin-top: 1.5rem;
}

.thanks_page_container{
    min-height: 100vh;
    background-color: white;
    text-align: center;
}